.footer {
	background-color: $color-dark;
	padding: 60px 0 0 0;
	position: relative;
	display: block;
	margin: 0;

	@media(max-width: 800px) {
		padding: 40px 0 0 0;
	}

	&__grid-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
		
		@media(max-width: 420px) {
			margin: 0 auto;
		}
	
	}

	&__grid {
		flex-basis: 25%;
		width: 25%;

		@media(max-width: 600px) {
			flex-basis: 50%;
			width: 50%;
		}

		@media(max-width: 420px) {
			flex-basis: 100%;
			width: 100%;
			text-align: center;
		}

	}

	&__grid-content {
		padding: 20px;
		color: $color-light;

		@media(max-width: 420px) {
			padding: 20px 40px;
		}

	}

	&__title {
		margin: 0 0 10px 0;
	}

	hr {
		position: relative;
		display: block;
		margin: 0;
		width: 40px;
		height: 2px;
		background-color: $color-tertiary;
		outline: none;
		border: none;

		@media(max-width: 420px) {
			margin: 0 auto;
		}

	}

	&__content {
		margin-top: 24px;
		
		p,
		li {
			font-size: 14px;

			a:hover {
				text-decoration: underline;
			}

		}

		.widget.woocommerce {
			
			h2,
			ul li a img,
			ul li > span,
			ul li > del,
			ul li > ins {
				display: none;
			}

		}

		@media(max-width: 800px) {
			
			.btn,
			.btn-defualt {
				padding: 0 20px!important;
			}

		}

	}

	&__lower {
		background-color: $color-darker;
		margin-top: 40px;
		padding: 20px 0;
		color: $color-light;

		&__grid-container {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
		}

		&__grid {
			flex-basis: 50%;
			width: 50%;

			p {
				margin: 0;
				text-transform: uppercase;
				font-size: 12px;
			}

			&.left {
				text-align: left;
			}

			&.right {
				text-align: right;

				i {
					margin: 0 3px;
				}
				
				span {
					font-weight: 700;
					color: $color-tertiary;
					margin-left: 3px;
				}

			}

		}

	}

}