.footer {
	background-color: $color-dark;
	padding: 60px 0 0 0;
	position: relative;
	display: block;
	margin: 0;

	&__grid-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&__grid {
		flex-basis: 25%;
		width: 25%;
	}

	&__grid-content {
		padding: 20px;
		color: $color-light;
	}

	&__title {
		margin: 0 0 10px 0;
	}

	hr {
		position: relative;
		display: block;
		margin: 0;
		width: 40px;
		height: 2px;
		background-color: $color-tertiary;
		outline: none;
		border: none;
	}

	&__content {
		margin-top: 24px;
		
		p,
		li {
			font-size: 14px;

			a:hover {
				text-decoration: underline;
			}

		}

	}

	&__lower {
		background-color: $color-darker;
		margin-top: 40px;
		padding: 20px 0;
		color: $color-light;

		&__grid-container {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
		}

		&__grid {
			flex-basis: 50%;
			width: 50%;

			p {
				margin: 0;
				text-transform: uppercase;
				font-size: 12px;
			}

			&.left {
				text-align: left;
			}

			&.right {
				text-align: right;

				i {
					margin: 0 3px;
				}
				
				span {
					font-weight: 700;
					color: $color-tertiary;
					margin-left: 3px;
				}

			}

		}

	}

}