section.home {
	margin: 20px 0;
	transition: all 300ms ease;

	&:hover {
		box-shadow: 0 0 10px 0 rgba(black, 0.1);

		img {
			transform: scale(1.1);
		}

	}

	&__product {
		background-color: white;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		border-radius: 6px;
		
		.image,
		.text {
			flex-basis: 50%;
		}

		.image {
			overflow: hidden;
			margin: 10px;

			img {
				transition: all 300ms ease;
			}

		}

		.text {
			display: flex;
			padding: 0 100px;
			text-align: center;

			&-container {
				align-self: center;
			}

			.title {
				font-size: 48px;
				margin: 0 0 25px 0;
				padding: 0;
				display: block;
				position: relative;
				font-family: $font-primary;
				line-height: 1.1;
			}

			hr {
				width: 60px;
				height: 2px;
				background-color: $color-tertiary;
				margin: 0 auto;
				display: block;
				position: relative;
				border: none;
				outline: none;
			}

			.summary {
				font-size: 16px;
				margin: 25px 0 0 0;
			}

			.btn {
				margin: 20px 0 0 0;
			}

		}

	}

	&__lookbook {
		background-color: white;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		border-radius: 6px;

		.image,
		.text {
			flex-basis: 33.33333%;
		}

		.image {
			overflow: hidden;
			margin: 10px;

			&:last-of-type {
				margin-left: 0;
			}

			img {
				transition: all 300ms ease;
			}

		}

		.text {
			display: flex;
			padding: 0 100px;
			text-align: center;

			&-container {
				align-self: center;
			}

			.title {
				font-size: 48px;
				margin: 0 0 25px 0;
				padding: 0;
				display: block;
				position: relative;
				font-family: $font-primary;
				line-height: 1.1;

				a {
					color: $color-tertiary;
					text-decoration: underline;
				}

			}
		
		}

	}

	&__comments {
		padding: 30px 200px;
		position: relative;
		display: block;
		text-align: center;
		background-color: white;
		border-radius: 6px;

		.title {
			font-size: 48px;
			margin: 0 0 25px 0;
			padding: 0;
			display: block;
			position: relative;
			font-family: $font-primary;
			line-height: 1.1;
		}

		.comment {
			margin-bottom: 5px;
		}

		.author {
			margin-top: 5px;
		}

		#comments-carousel {
			position: relative;
			display: block;
			width: 100%;
			max-width: 740px;
			margin: 0 auto;
		}

		#siema-prev,
		#siema-next {
			position: absolute;
			top: 50%;
			display: block;
			width: 48px;
			height: 48px;
			cursor: pointer;
			margin-top: -24px;
			-webkit-touch-callout: none;
			user-select: none;
			transition: all 300ms ease;

			i {
				font-size: 48px;
				cursor: pointer;
				transition: all 300ms ease;
			}

			&:hover {

				i {
					transform: scale(1.15);
					color: $color-tertiary;
				}

			}

		}

		#siema-prev {
			left: 64px;

			&:hover {
				transform: translateX(-10px);
			}

		}

		#siema-next {
			right: 64px;

			&:hover {
				transform: translateX(10px);
			}

		}

	}

}