section.home {
	margin: 20px 0;
	transition: all 300ms ease;

	&:hover {
		box-shadow: 0 5px 10px 0 rgba(black, 0.1);

		img {
			transform: scale(1.1);
		}

	}

	&__product {
		background-color: white;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		border-radius: 6px;
		
		.image,
		.text {
			flex-basis: 50%;
		}

		@media(max-width: 480px) {
			flex-basis: 100%;
			margin: 10px;
		}

		.image {
			overflow: hidden;
			margin: 10px;
			border-radius: 6px;

			@media(max-width: 480px) {
				order: 1;
			}

			img {
				transition: all 300ms ease;
				border-radius: 6px;
			}

		}

		.text {
			display: flex;
			padding: 0 100px;
			text-align: center;

			@media(max-width: 860px) {
				padding: 0 50px;
			}

			@media(max-width: 600px) {
				padding: 0 20px;
			}

			@media(max-width: 480px) {
				order: 100;
				margin: 20px auto;
			}

			&-container {
				align-self: center;
				margin: 0 auto;
				display: block;
			}

			.title {
				font-size: 48px;
				margin: 0 0 25px 0;
				padding: 0;
				display: block;
				position: relative;
				font-family: $font-primary;
				line-height: 1.1;

				@media(max-width: 600px) {
					font-size: 36px;
					margin: 0 0 20px 0;
				}

			}

			hr {
				width: 60px;
				height: 2px;
				background-color: $color-tertiary;
				margin: 0 auto;
				display: block;
				position: relative;
				border: none;
				outline: none;
			}

			.summary {
				font-size: 16px;
				margin: 25px 0 0 0;
			}

			.btn {
				margin: 20px 0 0 0;
			}

		}

	}

	&__lookbook {
		background-color: white;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		border-radius: 6px;

		@media(max-width: 480px) {
			flex-wrap: wrap;
		}

		.text {
			flex-basis: 33.33333%;

			@media(max-width: 480px) {
				flex-basis: 100%;
				order: 100;
				margin: 20px auto;
			}

		}

		.image {
			overflow: hidden;
			margin: 10px;
			flex-basis: 66.66666%;
			border-radius: 6px;

			@media(max-width: 480px) {
				flex-basis: 100%;
				order: 1;
				margin: 10px;
			}

			img {
				transition: all 300ms ease;
			}

		}

		.text {
			display: flex;
			padding: 0 15px;
			text-align: center;

			&-container {
				align-self: center;
				display: block;
				margin: 0 auto;
			}

			.title {
				font-size: 48px;
				margin: 0;
				padding: 0;
				display: block;
				position: relative;
				font-family: $font-primary;
				line-height: 1.1;

				@media(max-width: 600px) {
					font-size: 36px;
				}

				a,
				span {
					color: $color-tertiary;
					text-decoration: underline;
				}

			}
		
		}

	}

	&__comments {
		padding: 30px 200px;
		position: relative;
		display: block;
		text-align: center;
		background-color: white;
		border-radius: 6px;

		@media(max-width: 800px) {
			padding: 30px 100px;
		}

		@media(max-width: 480px) {
			padding: 20px 50px;
		}

		.title {
			font-size: 48px;
			margin: 0 0 25px 0;
			padding: 0;
			display: block;
			position: relative;
			font-family: $font-primary;
			line-height: 1.1;

			@media(max-width: 600px) {
				font-size: 36px;
				margin: 0 0 15px 0;
			}

			@media(max-width: 480px) {
				font-size: 28px;
				margin: 0;
			}

		}

		.comment {
			margin-bottom: 5px;
			font-size: 18px;
			font-weight: 400;

			@media(max-width: 480px) {
				font-size: 16px;
			}

		}

		.author {
			margin-top: 5px;
			font-size: 16px;
			font-weight: 500;

			@media(max-width: 480px) {
				font-size: 14px;
			}

		}

		#comments-carousel {
			position: relative;
			display: block;
			width: 100%;
			max-width: 740px;
			margin: 0 auto;
		}

		#siema-prev,
		#siema-next {
			position: absolute;
			top: 50%;
			display: block;
			width: 48px;
			height: 48px;
			cursor: pointer;
			margin-top: -24px;
			-webkit-touch-callout: none;
			user-select: none;
			transition: all 300ms ease;

			i {
				font-size: 48px;
				cursor: pointer;
				transition: all 300ms ease;
			}

			&:hover {

				i {
					transform: scale(1.15);
					color: $color-tertiary;
				}

			}

		}

		#siema-prev {
			left: 64px;

			&:hover {
				transform: translateX(-10px);
			}

			@media(max-width: 800px) {
				left: 30px;
			}

			@media(max-width: 480px) {
				left: 5px;
			}

		}

		#siema-next {
			right: 64px;

			&:hover {
				transform: translateX(10px);
			}

			@media(max-width: 800px) {
				right: 30px;
			}
		
			@media(max-width: 480px) {
				right: 5px;
			}

		}

	}

}