.lookbook {

    &__item {
        background-color: white;
        margin: 30px auto;
        display: flex;
        flex-wrap: nowrap;

        @media(max-width: 480px) {
            flex-wrap: wrap;
        }

        .image {
            padding: 10px;
            flex-basis: 66.66666%;

            @media(max-width: 800px) {
                flex-basis: 50%;
            }

            @media(max-width: 480px) {
                flex-basis: 100%;
                order: 1;
            }

            img {
                max-width: 200%;
                width: 100%;
            }

        }

        .text {
            flex-basis: 33.33333%;
            display: flex;
			padding: 0 30px;
            text-align: center;
            
            @media(max-width: 800px) {
                flex-basis: 50%;
            }

            @media(max-width: 480px) {
                flex-basis: 100%;
                order: 100;
                padding: 30px;
            }

			&-container {
                align-self: center;
                width: 100%;
			}

			.title {
				font-size: 48px;
				margin: 0 0 25px 0;
				padding: 0;
				display: block;
				position: relative;
				font-family: $font-primary;
                line-height: 1.1;
                
                @media(max-width: 800px) {
                    font-size: 36px;
                }

				a {
					color: $color-tertiary;
					text-decoration: underline;
				}

            }
            
            hr {
				width: 60px;
				height: 2px;
				background-color: $color-tertiary;
				margin: 0 auto;
				display: block;
				position: relative;
				border: none;
				outline: none;
			}

			.summary {
				font-size: 16px;
                margin: 25px 0 0 0;

                ul {

                    li {
                        padding: 5px 0;

                        @media(max-width: 800px) {
                            font-size: 14px;
                        }

                        a:hover {
                            text-decoration: underline;
                        }

                    }

                }

			}

			.btn {
				margin: 20px 0 0 0;
			}

        }

    }

}