.main-navigation {
	display: block;
	position: fixed;
	top: 0;
	height: 160px;
	width: 100%;
	background-color: white;
	padding: 0;
	z-index: 999999999999999999;
	border-bottom: 1px solid $color-light;
	box-shadow: 0 3px 10px 0px rgba(black, 0.1);

	@media(max-width: 767px) {
		height: 124px;
	}

	@media(max-width: 480px) {
		height: 60px;
	}

	.logo {
		max-height: 100px;
		display: block;
		max-width: 200px;
		text-align: center;

		span {
			font-size: 19px;
			line-height: 1;
			font-weight: 900;
			text-transform: uppercase;

			&:last-child {
				font-size: 36px;
				font-weight: 800;
			}

		}

		// @media(max-width: 767px) {
		// 	height: 58px;
		// 	line-height: 58px;
		// }

		// @media(max-width: 480px) {
		// 	height: 60px;
		// 	line-height: 60px;
		// }

		object,
		svg {
			height: 64px;
			width: auto;
			pointer-events: none;

			@media(max-width: 767px) {
				height: 58px;
			}

			@media(max-width: 480px) {
				height: 44px;
			}

		}

	}

	.top {
		height: 100px;
		width: 100%;
		display: block;
		position: relative;
		background-color: white;

		@media(max-width: 480px) {
			display: none;
		}

		> .container {
			height: 100px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
		}

	}

	.bottom {
		height: 50px;
		width: 100%;
		display: block;
		position: relative;
		background-color: $color-light;

		> div {
			height: 50px;
		}

		> .container {
			height: 50px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
		}

		@media(max-width: 767px) {
			height: 80px;
			line-height: 80px;

			> div {
				height: 80px;
			}

		}

		@media(max-width: 480px) {
			height: 60px;
			line-height: 60px;

			> div {
				height: 60px;
			}
		}

	}

	.left {
		float: left;
		display: inline-block;
	}

	.right {
		float: right;
		display: inline-block;
	}

	.middle {
		text-align: center;
	}

	.social {
		display: block;
		margin: 0;
		padding: 0;

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		li {
			float: left;
			position: relative;
			
			a {
				display: block;
				color: $color-dark;
				background-color: white;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 30px;
				margin: 7px 10px 7px 0;
				font-size: 18px;
				transition: all 300ms ease;

				i {
					transition: all 300ms ease;
				}

				&:hover {
					background-color: $color-tertiary;

					i {
						color: white;
					}
					
				}

			}

		}

	}

	.tools {
		display: block;
		margin: 0;
		padding: 0;

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		li {
			float: left;
			position: relative;

			form {
				display: block;
				position: relative;

				label {
					font-family: $font-secondary;
					display: inline-block;
					margin: 0;

					span {
						display: none;
					}

					input {
						font-family: $font-secondary;
						color: $color-light;
						font-weight: 500;
						margin: 8px 0;
						width: 180px;
						height: 28px;
						font-size: 13px;
						display: block;
						position: relative;
						appearance: none;
						border-radius: 6px;
						outline: none;
						border: none;
						padding: 0 5px;
						background-color: #444;
					}

				}

				input[type="submit"] {
					padding: 0;
					height: 30px;
					appearance: none;
					border-radius: none;
					outline: none;
					border: none;
					display: inline-block;
					font-size: 12px;
					margin: 0;
					font-family: $font-secondary;
					display: none;
				}

				&+i {
					font-size: 24px;
					display: block;
					position: absolute;
					right: 0;
					top: 8px;
					padding: 2px 4px;
					color: white;
					z-index: 9999;
					transition: all 300ms ease;
					cursor: pointer;

					&:hover {
						color: $color-tertiary;
					}

				}

			}
			
			a {
				display: block;
				color: black;
				text-align: center;
				margin: 1px 0 0 16px;
				transition: all 300ms ease;

				span {
					line-height: 1;
					height: auto;
					width: auto;
					display: block;
					font-size: 12px;
					margin-top: -2px;
					font-weight: 500;
					transition: all 300ms ease;
				}

				i {
					font-size: 29px;
					display: block;
					transition: all 300ms ease;
				}

				&:hover {

					i {
						color: $color-tertiary;
					}

				}

			}

		}

	}

	#menu-btn {
		display: none;
		position: absolute;
		right: 15px;
		top: 26px;
		width: 36px;
		height: auto;
		cursor: pointer;
		z-index: 9999999999999999;

		@media(max-width: 767px) {
			display: block;
		}

		@media(max-width: 480px) {
			top: 20px;
			width: 32px;
			right: 10px;
		}

		span {
			display: block;
			height: 2px;
			background-color: $color-dark;
			margin-bottom: 8px;

			@media(max-width: 480px) {
				margin-bottom: 6px;
			}

		}

		p {
			font-size: 12px;
			font-weight: 500;
			margin: -1px 0 0 0;
			line-height: 1;

			@media(max-width: 480px) {
				font-size: 11px;
			}

		}

	}

	.menu-main-menu-container {
	
		@media(max-width: 767px) {
			position: absolute;
			border-top: 1px solid $color-light;
			width: 240px;
			height: 100vh;
			background: #fafafa;
			top: 80px;
			right: -240px;
			z-index: -1;
			transition: all 300ms ease;

			@media(max-width: 480px) {
				top: 60px;
			}

			&.active {
				box-shadow: 0 10px 10px 0px rgba(black, 0.1);
				right: 0;
			}

		}
	
	}

	.menu {
		display: inline-block;
		list-style: none;
		padding: 0;
		height: 60px;
		line-height: 60px;
		margin: 0 auto;
		position: relative;
		z-index: 9999;

		@media(max-width: 767px) {
			margin: 0;
			height: auto;
			line-height: 1;
			display: block;
			float: none;
			width: 100%;
		}

		> li {
			float: left;
			line-height: 50px;
			height: 50px;
			position: relative;
			z-index: 9;

			@media(max-width: 767px) {
				height: auto;
				line-height: 44px;
				float: none;
				border-bottom: 1px solid #ececec;
			}

			> a {
				color: $color-primary;
				text-decoration: none;
				display: inline-block;
				position: relative;
				height: 100%;
				line-height: 50px;
				padding: 0 15px;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 2px;
				z-index: 9;
				transition: all 250ms ease;

				@media(max-width: 767px) {
					height: 44px;
					line-height: 44px;
					display: block;
					color: $color-primary;
					padding: 0 15px;
					transition: none;
				}

			}

			&:hover,
			&.current-menu-item,
			&.current_page_item,
			&.current_page_parent,
			&.open {

				a {
					color: $color-tertiary;

					@media(max-width: 767px) {
						background-color: white;
					}
				
				}

			}

			.sub-menu {
				position: absolute;
				top: 50px;
				margin-left: -7px;
				background-color: white;
				width: auto;
				list-style: none;
				padding: 5px 12px;
				display: none;
				z-index: 9999;
				box-shadow: 0 5px 5px 0px rgba(black, 0.1);

				@media(max-width: 767px) {
					position: relative;
					top: auto;
					margin: 0;
				}

				li {
					float: none;
					position: relative;
					z-index: 9;
					background-color: white;

					&:first-of-type {
						padding-top: 5px;
					}

					&:last-of-type {
						padding-bottom: 5px;
					}

					a {
						display: block;
						height: 32px;
						line-height: 32px;
						font-size: 12px;
						font-weight: 500;
						color: $color-primary;
						text-decoration: none;
						text-transform: uppercase;
						padding: 0 10px;
						letter-spacing: 1px;
						position: relative;
						transition: all 250ms ease;
						white-space: nowrap;

						&:hover {
							color: $color-tertiary;
						}

					}

					&.current-menu-item {
						
						a {
							color: $color-tertiary;
						}

					}

				}

			}

			&:hover {

				@media(min-width: 661px) {

					.sub {
						opacity: 1;
						max-height: 9999px;
						visibility: visible;

						&:before {
							width: 100%;
							height: calc(100% - 6px);
							left: 3px;
							bottom: 3px;
						}

						&:after {
							width: 100%;
							height: 100%;
							bottom: 0;
						}

					}

				}

			}

		}

	}

}