.product-detail {
    background-color: white;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(black, 0.1);

    &__image {
        flex-basis: 66.66666%;
        max-width: 66.66666%;
        padding-right: 20px;

        .main {
            display: block;
            position: relative;
            overflow: hidden;
            border-radius: 6px;

            &:hover {

                #siema-prev,
                #siema-next {
                    opacity: 1;
                }
            
            }

            #product-carousel {
                position: relative;
                display: block;
                width: 100%;
                margin: 0 auto;
                border-radius: 6px;

                img {
                    border-radius: 6px;
                }

            }

            #siema-prev,
            #siema-next {
                position: absolute;
                top: 0;
                bottom: 0;
                display: block;
                width: 100px;
                cursor: pointer;
                -webkit-touch-callout: none;
                user-select: none;
                transition: all 300ms ease;
                opacity: 0;

                i {
                    font-size: 48px;
                    cursor: pointer;
                    transition: all 300ms ease;
                    position: absolute;
                    top: 50%;
                    margin-top: -24px;
                    background-color: white;
                }

                &:hover {

                    i {
                        transform: scale(1.15);
                        color: $color-tertiary;
                    }

                }

            }

            #siema-prev {
                left: 0;
                text-align: left;

                i {
                    left: 0;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                &:hover {

                    i {
                        transform: translateX(-10px);
                    }
        
                }

            }

            #siema-next {
                right: 0;
                text-align: right;

                i {
                    right: 0;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                &:hover {
                    
                    i {
                        transform: translateX(10px);
                    }

                }

            }

        }

        .thumbnails {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
            padding-top: 5px;

            .thumb {
                flex-basis: calc(25% - 10px);
                margin: 5px 5px 0 5px;
                overflow: hidden;
                cursor: pointer;
                border-radius: 6px;

                img {
                    transition: all 300ms ease;
                }

                &:hover {

                    img {
                        transform: scale(1.1);
                    }

                }

            }

        }

    }

    &__text {
        flex-basis: 33.33333%;

        h1 {
            margin: 5px 0 10px 0;
            font-size: 44px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 1.1;
            font-family: $font-primary;
            display: block;
            width: 100%;
        }

        .price {
            font-size: 20px;
            margin: 0 0 30px 0;
            letter-spacing: 0.5px;
            line-height: 1;
            font-weight: 700;
            font-family: $font-secondary;
            color: $color-dark;
            text-decoration: none!important;
            display: block;
            width: 100%;

            del {
                display: none;
            }

            ins {
                text-decoration: none!important;
            }

        }

        .btns {
            display: inline-block;
            height: 46px;
            vertical-align: middle;
            margin-left: -4px;

            a {

                &:nth-child(1) {
                    border-top-right-radius: 6px;
                }

                &:nth-child(2) {
                    border-bottom-right-radius: 6px;
                }
                        
            }

        }

        form.cart {
            margin-bottom: 30px;
            display: block;
            width: 100%;

            button.btn-default {
                
            }

        }

        &-summary {
            
            p {
                font-size: 15px;
                font-weight: 400;
            }

        }

        .quantity {
            display: inline-block;
            border: 2px solid rgba($color-tertiary, 1);
            width: 50px;
            position: relative;
            overflow: hidden;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            input {
                appearance: none;
                border: none;
                text-align: center;
                line-height: 38px;
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
                width: 60px;
                position: relative;
                padding: 0 0 0 0;
                color: $color-tertiary;
                font-weight: 700;
                letter-spacing: 0.5px;
                background: transparent;
                display: block;


                &:active,
                &:focus {
                    outline: none;
                }

            }

        }

    }

}