.btn {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	-ms-progress-appearance: none!important; 
	appearance: none!important;
	cursor: pointer;
	border-radius: 6px;
	overflow: hidden;

	span {
		text-align: center;
		position: relative;
		z-index: 1;
		transition: all 250ms ease-in;
	}

	&-qty {
		border: none;
		text-align: center;
		line-height: 20px;
		height: 23px;
		width: 23px;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		background-color: $color-tertiary;
		color: white;
		font-weight: 400;
		letter-spacing: 0;
		transition: all 200ms ease;

		&:hover {
			background-color: rgba($color-tertiary, 0.5);
			color: $color-dark;
		}

	}

	&-default {
		border: 2px solid rgba($color-tertiary, 1);
		text-align: center;
		line-height: 42px;
		font-size: 12px;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		padding: 0 35px;
		color: $color-tertiary;
		font-weight: 700;
		letter-spacing: 0.5px;
		background: transparent;

		&:before {
			content: '';
			left: -1px;
			top: -1px;
			bottom: -1px;
			width: 0;
			display: block;
			position: absolute;
			transition: all 250ms ease;
			background-color: $color-tertiary;
			z-index: 0;
			border-radius: 6px;
		}

		&:hover {
			color: $color-light;

			&:before {
				width: 100%;
				width: calc(100% + 3px);
				opacity: 1;
			}

		}

	}

	&-full {
		background-color: $color-tertiary;
		transition: all 250ms ease;

		span {
			color: white;
		}

		&:hover {
			transform: scale(1.05);
			-webkit-box-shadow: 0 0 8px 0 rgba($color-primary, 0.7);
			box-shadow: 0 0 8px 0 rgba($color-primary, 0.7);
		}
	}

}