$color-primary: black;
$color-secondary: white;
$color-tertiary: #C7B266;
$color-light: #9b9b9b;
$color-dark: #444444;
$color-darker: #333333;

$font-primary: 'Oranienbaum', serif;
$font-secondary: 'Barlow', sans-serif;

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}